{% load static %}
<div class="container wrapper pb-30px">
	<div class="row justify-content-center my-slider-header">
		<div class="col-auto text-center mt-90px">
			<h2>Фотографии</h2>
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-auto d-flex justify-content-center main-slider mt-70px">
{% for image in images %}
			<div class="main-slider__item">
				<button type="button" class="btn btn-link" data-bs-toggle="modal" data-bs-target="#exampleModal">
					<img class="main-slider__item__img w-100" src="{{ image.image.url }}" alt="image">
				</button>
			</div>
{% endfor %}
		</div>
	</div>
	<div class="row justify-content-center">
		<div class="col-auto justify-content-center slider">
{% for image in images %}
			<div class="slider__item">
				<img src="{{ image.image.url }}" alt="image">
			</div>
{% endfor %}
		</div>	
	</div>
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl">
		  	<div class="modal-content">
				<div class="modal-body">
			  		<div class="row justify-content-center">
						<div class="col-auto justify-content-center galery">
						{% for image in images %}
							<div class="container galery__item">
								<img class="w-75" src="{{ image.image.url }}" alt="image">
							</div>
						{% endfor %}
						</div>
					</div>
				</div>
		  	</div>
		</div>
	</div>
</div>